.input {
    padding: 20px 30px;

    border: 1px solid #b3b3b3;
    border-radius: 80px;
    height: 60px;
    background: #fff;

    font-size: 16px;
    line-height: 1.2;
    color: rgba(0, 0, 0, 0.5);
}
